@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
* {
  margin: 0;
  padding: 0; }

ul,
ol,
li {
  list-style: none;
  font-family: Rubik; }

a {
  text-decoration: none; }

h1,
h2,
h3,
p,
li,
a,
label,
input,
button {
  font-family: Rubik; }

.navbar {
  background-color: #ADD8E6; }
  .navbar .container-fluid {
    background-color: #ADD8E6; }
    .navbar .container-fluid button {
      border-color: #FFA500; }
    .navbar .container-fluid a {
      color: #FFA500; }

.carousel-inner .carousel-item img {
  height: 400px;
  /* altura por defecto */ }

@media (max-width: 992px) {
  .carousel-inner .carousel-item img {
    height: 300px;
    /* altura en pantallas medianas */ } }

@media (max-width: 768px) {
  .carousel-inner .carousel-item img {
    height: 200px;
    /* altura en pantallas pequeñas */ } }

footer {
  background-color: #ADD8E6; }
  footer i {
    color: #FFA500; }
  footer p {
    color: #FFA500; }
  footer h5 {
    color: #FFA500; }

.card-group {
  background-color: #6D5C55; }
  .card-group .card .card-body {
    background-color: #B0A6A5; }
    .card-group .card .card-body i {
      color: #FFA500; }
    .card-group .card .card-body h3 {
      color: #FFA500; }
    .card-group .card .card-body p {
      color: #ffffff; }

.sec2 {
  background-color: #B0A6A5; }
  .sec2 h2 {
    color: #ffffff; }
  .sec2 i {
    color: #FFA500; }
  .sec2 p {
    color: #FFA500; }
  .sec2 h3 {
    color: #ffffff; }

.contacto {
  background-color: #6D5C55; }
  .contacto h3 {
    color: #FFA500; }
  .contacto form {
    background-color: #B0A6A5; }
    .contacto form label {
      color: #FFA500; }

.inter-li {
  background-color: #6D5C55; }
  .inter-li .col h5 {
    color: #FFA500; }
  .inter-li .col ul li {
    background-color: #B0A6A5; }
