.contacto {
    background-color: $marron;
    h3{
        color: $naranja;
    }

    form {
        background-color: $crema ;

            label {
                color: $naranja;
            }
    }
}