.inter-li {
    background-color: $marron;

    .col {
        h5 {
            color: $naranja;
        }

        ul {
            li {
                background-color: $crema;
            }
        }
    }
}