.navbar {
    background-color: $celeste;

    .container-fluid {
        background-color: $celeste;

        button {
            border-color: $naranja;
        }

        a {
            color: $naranja;
        }
    }
}