.carousel-inner .carousel-item img {
    height: 400px;
    /* altura por defecto */
}

@media (max-width: 992px) {
    .carousel-inner .carousel-item img {
        height: 300px;
        /* altura en pantallas medianas */
    }
}

@media (max-width: 768px) {
    .carousel-inner .carousel-item img {
        height: 200px;
        /* altura en pantallas pequeñas */
    }
}
